html,
body {
  padding: 0;
  margin: 0;
}
#card-h {
  font-size: 3rem;
}
#card-p {
  font-size: 1.5rem;
}
.p2 {
  display: inline-block;
  padding: 8px 18px 10px;
  text-transform: uppercase;
  background-color: #59a209;
  border: 1px solid;
  border-color: #59a209;
  transition: 0.3s;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1rem;
}
.p-2:hover {
  background-color: transparent;
  border-color: #fff;
}
#lg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 4vw;
  padding-top: 4vw;
}
#h-100 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 4vw;
}
#fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 4vw;
  padding-top: 4vw;
}
#lg-h {
  width: 790px;
  padding: 0;
}
#lg-text {
  padding: 0;
}
#col-img {
  background-image: url(./img/4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}
#row {
  width: 50%;
}
#r-text {
  width: 450px;
}
#col-p {
  margin-left: 40vw;
  padding-top: 5vw;
}
#col-ph {
  width: 370px;
}
@media (max-width: 900px) {
  #lg {
    display: block;
  }
  #lg-h {
    width: 358px;
    padding-left: 15vw;
  }
  #lg-text {
    padding-left: 10vw;
  }
  #col-img {
    display: none;
  }
  #row {
    width: 90%;
  }
  #r-text {
    width: 228px;
  }
  #col-p {
    margin-left: 0;
  }
  #col-ph {
    width: 220px;
  }
  #card-h {
    font-size: 0.5rem;
  }
  #card-p {
    font-size: 0.3rem;
  }
  .p2 {
    font-size: 0.2rem;
    padding: 1px 15px 1px;
  }
}
@media (max-width: 500px) {
}

.last-f {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 56%;
  margin-left: 21vw;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 45px;
}
.last1 {
  width: 30%;
  height: 100%;
  padding-right: 30px;
}

.page {
  width: 100%;
  height: 50px;
  background-color: #214b4a;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}
.page-div {
  display: flex;
  background-color: #214b4a;

  width: 53%;
  justify-content: space-between;
}
.last-p {
  color: cornsilk;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 15px;
}

.header-last {
  color: white;
  margin-bottom: 50px;
  font-size: 18px;
}
.p-x {
  color: white;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(67, 90, 67);
  padding-bottom: 20px;
}
#marker {
  color: #eaeaea;
  padding-right: 15px;
}
#square {
  color: #fff;
  border: 1px solid #59a209;
  background-color: #59a209;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
}

.last2 {
  width: 30%;
  padding-right: 30px;
}
.p-w {
  color: ivory;
  margin: 0;
  font-size: 17px;
}
.p-w1 {
  color: ivory;
  margin: 0;
  border-bottom: 1px solid rgb(67, 90, 67);
  padding-bottom: 22px;
  margin-bottom: 10px;
}
.text {
  color: #fff;
  background-color: #214b4a;
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  border: 1px solid #214b4a;
  transition: 0.2s;
  font-size: 16px;
}
.text:hover {
  border: 1px solid #59a209;
}
.sub {
  color: #fff;
  background-color: #59a209;
  border: 1px solid #59a209;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
}
@media screen and (max-width: 1194px) {
  .last-f {
    display: block;
  }
  .last1 {
    width: 100%;
  }
  .last2 {
    width: 100%;
  }
  .page-div {
    width: 50%;
  }
}
